    <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {

        selectPack = function(pack){
          $('#component_package_id').val(pack)
        }
      
      })
    </script>

<%= form_for(@component) do |f| %>
  <% if @component.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@component.errors.count, "error") %> prohibited this component from being saved:</h2>

      <ul>
      <% @component.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table>
	<tr>
	  <th>
  <div class="field">
    <% f.label :place %>
    <%= t('component.place')%><br />
    <% f.text_field :place %>
    <% places = Place.find(:all, :order => :name) %>
    <%= f.collection_select(:place_id, places,:id, :name,{:prompt => 'Seleccione una ubicacion'}) %>
    <A HREF="/images/MaterialLabo.png" target="blank">Mapa</A>
  </div>
	  </th>
	  <th>
  <div class="field">
    <%= t('component.project')%><br />
    <% projects = Project.find(:all, :order => :id) %>
    <%= f.collection_select(:project_id, projects,:id, :name,{:prompt => 'Seleccione un proyecto'}) %>
  </div>		  
	  </th>
	</tr>
	<tr>
	  <th>
  <div class="field">
    <%f.label :category_id %>
    <%= t('component.category')%><br />
    <% categories = Category.find(:all, :order => :name) %>
    <%= f.collection_select(:category_id, categories,:id, :name,{:prompt => 'Seleccione una categoria'}) %>
    <% f.number_field :category_id %>
  </div>		  
	  </th>
	  <th>
  <div class="field">
    <% f.label :description %>
    <%= t('component.description')%><br />
    <%= f.text_field :description %>
  </div>		  
	  </th>
	</tr>	
	<tr>
	  <th>
  <div class="field">
    <% f.label :value %>
    <%= t('component.value')%><br />
    <%= f.text_field :value %>
  </div>		  
	  </th>
	  <th>
  <div class="field">
    <% f.label :quantity %>
    <%= t('component.quantity')%><br />
    <%= f.number_field :quantity %>
  </div>		  
	  </th>
	</tr>	
	<tr>
	  <th>
  <div class="field">
    <% f.label :mount_id %>
    <%= t('component.mount')%><br />
    <% f.number_field :mount_id %>
    <% mounts = Mount.find(:all, :order => :name) %>
    <%= f.collection_select(:mount_id, mounts,:id, :name,{:prompt => 'Seleccione un montaje'}) %>
  </div>		  
	  </th>
	  <th>
  <div class="field">
    <% f.label :package_id %>
    <%= t('component.package')%><br />
    <% f.number_field :package_id %>
    <% packages = Package.find(:all, :order => :name) %>
    <%= f.collection_select(:package_id, packages,:id, :name,{:prompt => 'Seleccione un encapsulado'}) %>
  </div>		  
	  </th>
	</tr>
	<tr>
	  <th>
  <div class="field">
    <% f.label :price %>
    <%= t('component.price')%><br />
    <% f.number_field :price %>
    <%= f.text_field :price %>
  </div>		  
	  </th>
	  <th>
  <div class="field">
    <% f.label :moneda %>
    <%= t('component.moneda')%><br />
    <% f.number_field :moneda_id %>
    <% monedas = Moneda.find(:all, :order => :id) %>
    <%= f.collection_select(:moneda_id, monedas,:id, :name,{:prompt => 'Seleccione una moneda'}) %>
  </div>		  
	  </th>
	</tr>
	<tr>
	  <th>
  <div class="field">
    <% f.label :distributor_id %>
    <%= t('component.distributor')%><br />
    <% f.number_field :distributor_id %>
    <% distributors = Distributor.find(:all, :order => :name) %>
    <%= f.collection_select(:distributor_id, distributors,:id, :name,{:prompt => 'Seleccione un encapsulado'}) %>
  </div>
  		  
	  </th>
	  <th>
  <div class="field">
    <% f.label :ref %>
    <%= t('component.numref')%><br />
    <%= f.text_field :ref %>
  </div>		  
	  </th>
	</tr>
	<tr>
	  <th>
  <div class="field">
    <% f.label :comments %>
    <%= t('component.comments')%><br />
    <%= f.text_field :comments %>
  </div>		  
	  </th>
	  <th>
	  </th>
	</tr>					
  </table>
 
 <!--<div class="field">
    <%= t('component.user')%><br />
    <% users = User.find(:all, :order => :name) %>
    <%= f.collection_select(:user_id, users,:id, :name,{:prompt => 'Seleccione un usuario'}) %>
  </div>-->

    <div>
		<h4>Aqui puedes seleccionar el Encapsulado del componente de forma gráfica</h4>
      <% Package.all.each do |package| %>
        <%= link_to image_tag ("/images/encapsulados/" + package.name + ".png", :size => "50x50"), "javascript:selectPack(#{package.id});"  %>
      <% end %>
    </div>
	
	<h2>¿Son correctos los datos?</h2>
  <div class="actions">
    <%= f.submit t('send') %>
  </div>
<% end %>
