<h1><%= t('component.list')%></h1>

<table>
  <tr>
    <th><%= t('component.place')%></th>
    <th><%= t('component.category')%></th>
    <th><%= t('component.description')%></th>
    <th><%= t('component.value')%></th>
    <th><%= t('component.mount')%></th>
    <th><%= t('component.package')%></th>
    <th><%= t('component.distributor')%></th>
    <th><%= t('component.numref')%></th>
    <th><%= t('component.price')%></th>
    <th><%= t('component.comments')%></th>
    <th><%= t('component.quantity')%></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @components.each do |component| %>
  <tr>
    <td><%= component.place.name %></td>
    <td><%= component.category.name %></td>
    <td><%= component.description %></td>
    <td><%= component.value %></td>
    <td><%= component.mount.name %></td>
    <td><%= component.package.name %></td>
    <td><%= component.distributor.name %></td>
    <% if component.distributor.name.eql?("Mouser") %>
      <td><%= link_to component.ref, "http://es.mouser.com/Search/Refine.aspx?Keyword=" + component.ref.to_s %></td>
    <% elsif component.distributor.name.eql?("Rs-Online") %>
      <td><%= link_to component.ref, "http://es.rs-online.com/web/c/?searchTerm=" + component.ref.to_s %></td>
    <% elsif component.distributor.name.eql?("Digi-key") %>
      <td><%= link_to component.ref, "http://www.digikey.es/scripts/DkSearch/dksus.dll?x=0&y=0&lang=en&keywords=" + component.ref.to_s %></td>
    <% else %>
      <td><%= component.ref %></td>
    <% end %>
    <td><%= component.price.to_s + " " + component.moneda.name.to_s %></td>
    <td><%= component.comments %></td>
    <td><%= component.quantity %></td>
    <td><%= link_to t('show'), component %></td>
    <td><%= link_to t('edit'), edit_component_path(component) %></td>
    <td><%= link_to t('remove'), component, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('component.new'), new_component_path %>
