<p id="notice"><%= notice %></p>

<p>
  <b><%= t('component.place') %>:</b>
  <%= @component.place.name %>
</p>

<p>
  <b><%= t('component.category') %>:</b>
  <%= @component.category_id %>
</p>

<p>
  <b><%= t('component.description') %>:</b>
  <%= @component.description %>
</p>

<p>
  <b><%= t('component.value') %>:</b>
  <%= @component.value %>
</p>

<p>
  <b><%= t('component.mount') %>:</b>
  <%= @component.mount.name %>
</p>

<p>
  <b><%= t('component.package') %>:</b>
  <%= @component.package.name %>
</p>

<p>
  <b><%= t('component.distributor') %>:</b>
  <%= @component.distributor.name %>
</p>

<p>
  <b><%= t('component.numref') %>:</b>
  <%= @component.ref %>
</p>

<p>
  <b><%= t('component.price') %>:</b>
  <%= @component.price.to_s + " " + @component.moneda.name %>
</p>

<p>
  <b><%= t('component.comments') %>:</b>
  <%= @component.comments %>
</p>

<p>
  <b><%= t('component.quantity') %>:</b>
  <%= @component.quantity %>
</p>


<%= link_to t('edit'), edit_component_path(@component) %> |
<%= link_to t('back'), components_path %>
