<h1>Listing monedas</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @monedas.each do |moneda| %>
  <tr>
    <td><%= moneda.name %></td>
    <td><%= link_to 'Show', moneda %></td>
    <td><%= link_to 'Edit', edit_moneda_path(moneda) %></td>
    <td><%= link_to 'Destroy', moneda, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Moneda', new_moneda_path %>
