<h1><%= t('distributor.list') %></h1>

<table>
  <tr>
    <th><%= t('distributor.name') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @distributors.each do |distributor| %>
  <tr>
    <td><%= distributor.name %></td>
    <td><%= link_to t('show'), distributor %></td>
    <td><%= link_to t('edit'), edit_distributor_path(distributor) %></td>
    <td><%= link_to t('delete'), distributor, :confirm => 'Estás seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('distributor.new'), new_distributor_path %>
