<p id="notice"><%= notice %></p>

<p>
  <b><%= t('distributor.name') %></b>
  <%= @distributor.name %>
</p>


<%= link_to t('edit'), edit_distributor_path(@distributor) %> |
<%= link_to t('back'), distributors_path %>
