<h1>Listing packages</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @packages.each do |package| %>
  <tr>
    <td><%= package.name %></td>
    <td><%= image_tag ("/images/encapsulados/" + package.name + ".png", :size => "50x50")  %></td>
    <td><%= link_to 'Show', package %></td>
    <td><%= link_to 'Edit', edit_package_path(package) %></td>
    <td><%= link_to 'Destroy', package, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Package', new_package_path %>
