<h1>Listing mounts</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mounts.each do |mount| %>
  <tr>
    <td><%= mount.name %></td>
    <td><%= link_to 'Show', mount %></td>
    <td><%= link_to 'Edit', edit_mount_path(mount) %></td>
    <td><%= link_to 'Destroy', mount, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mount', new_mount_path %>
