<h1><%= t('category.list') %></h1>

<table>
  <tr>
    <th><%= t('name') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td><%= link_to t('show'), category %></td>
    <td><%= link_to t('edit'), edit_category_path(category) %></td>
    <td><%= link_to t('delete'), category, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('category.new'), new_category_path %>
