<!DOCTYPE html>
<html>
<head>
  <title>Lsi</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="myHeader">
  <%= link_to image_tag("/images/header.png",:border=>'0'),{ :controller => :components, :action=> :index}, :id => "HeaderLogo" %>
</div>

<div id="container">
  <%= yield %>
</div>

<div id="myFooter">
  <%= link_to "Componentes", { :controller => :components, :action=> :index} %>
  <%= link_to "Distribuidores", { :controller => :distributors, :action=> :index} %>
  <%= link_to "Monedas", { :controller => :monedas, :action=> :index} %>
  <%= link_to "Encapsulados", { :controller => :packages, :action=> :index} %>
  <%= link_to "Montaje", { :controller => :mounts, :action=> :index} %>
  <%= link_to "Categorias", { :controller => :categories, :action=> :index} %>
  <%= link_to "Proyectos", { :controller => :projects, :action=> :index} %>
  <%= link_to "Ubicaciones", { :controller => :places, :action=> :index} %>
  <%= link_to "Usuarios", { :controller => :users, :action=> :index} %>
</div>


</body>
</html>
